// colors
$black: #000000;
$white: #ffffff;
$black-one:#1e1e1e;
$orange-text: #ef7e37;
$body-grey-text: #414141;






// FONT SIZE 
// ---------
$large-font-size: 20px;
$base-font-size: 18px;
$small-font-size: 14px;


// FONT WEIGHT
// -----------
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$balckbold: 900;
